
    <table class="table">
        
        <tbody class="text-center">
          <tr>
           <td><a routerLink="SSS" routerLinkActive="active">  SSS </a></td>
           <td><a routerLink="Yardım Merkezi" routerLinkActive="active"> Yardım Merkezi </a></td>
           <td><a routerLink="Hesap" routerLinkActive="active">Hesap</a></td>
           <td><a routerLink="Medya Merkezi" routerLinkActive="active">Medya Merkezi </a></td>
          </tr>
          <tr>
            <td><a routerLink="Yatırımcı İlişkileri" routerLinkActive="active">Yatırımcı İlişkileri</a></td>
            <td><a routerLink="İş İmkanları" routerLinkActive="active"> İş İmkanları </a></td>
            <td><a routerLink="Hediye Kodu" routerLinkActive="active"> Hediye Kodu </a></td>
            <td><a routerLink="İzleme Yolları" routerLinkActive="active"> İzleme Yolları </a></td>
          </tr>
          <tr>
           <td><a routerLink="KK" routerLinkActive="active"> Kullanım Koşulları</a> </td>
           <td><a routerLink="Gizlilik" routerLinkActive="active"> Gizlilik </a></td>
           <td><a routerLink="ÇT" routerLinkActive="active"> Çerez Tercihleri</a> </td>
           <td><a routerLink="KB" routerLinkActive="active"> Kurumsal Bilgiler </a></td>
          </tr>
          <tr>
            <td><a routerLink="BU" routerLinkActive="active">Bize Ulaşın</a></td>
            <td><a routerLink="HT" routerLinkActive="active">Hız Testi</a></td>
            <td><a routerLink="YH" routerLinkActive="active">Yasal Hükümler</a></td>
            <td><a routerLink="SA" routerLinkActive="active"> Sadece AngularFlix</a> </td>
          </tr>
        </tbody>
      </table>

      <div class="bg-body-tertiary">
        <div class="d-flex justify-content-between align-items-center">
          <div class="nav-item">
            Sosyal Medya Hesaplarımız:
          </div>
          <div class="d-flex">
            <div class="nav-item pe-2">
              <i class="bi bi-facebook"></i>
            </div>
            <div class="nav-item pe-2">
              <i class="bi bi-youtube"></i>
            </div>
            <div class="nav-item pe-2">
              <i class="bi bi-twitter-x"></i>
            </div>
            <div class="nav-item">
              <i class="bi bi-instagram"></i>
            </div>
          </div>
        </div>
      </div>
      



      
 
    
    
