<div class="showSection">
    <h2 style="text-decoration: underline;"> Popüler Diziler </h2>
    <swiper-container class="ShowSwiper" pagination="true" pagination-clickable="true" slides-per-view="4" space-between="10">
        <swiper-slide class="wrapper" *ngFor="let show of Shows()">
            <div class="item">
                <img src="{{show.ShowPoster}}" />
                <div [routerLink]="['/shows',show.ShowId]">{{show.ShowId}}</div>
              </div>
        </swiper-slide>
    </swiper-container>
</div>  